In [3]:
import os
import requests
import rasterio as rio
import rioxarray as rxr
import pandas as pd


""" Prepare files
    1. Make file belgium.csv a dataframe, so we can use a loc method to get the cooridantes
    2. Make a dataframe with the bounds per tiff file, so que can use a loc mehtod to select only 
    the desired file"""



""" 2.A: Files for DSM"""
dsm_files = os.listdir("DSM")
dsm_bounds_lst = []
for lst in dsm_files:
    file = rxr.open_rasterio("DSM/" + lst, masked=True).squeeze()
    dsm_bounds = file.rio.bounds()
    dsm_bounds_lst.append(
        [lst, dsm_bounds[0], dsm_bounds[1], dsm_bounds[2], dsm_bounds[3]]
    )

dsm_df = pd.DataFrame(dsm_bounds_lst, columns=["file", "xmin", "ymin", "xmax", "ymax"])

dsm_df.set_index("file", inplace=True)

""" 2.B: Files for DTM"""
dtm_files = os.listdir("DTM")
dtm_bounds_lst = []
for lst in dtm_files:
    file = rxr.open_rasterio("DTM/" + lst, masked=True).squeeze()
    dtm_bounds = file.rio.bounds()
    dtm_bounds_lst.append(
        [lst, dtm_bounds[0], dtm_bounds[1], dtm_bounds[2], dtm_bounds[3]]
    )

dtm_df = pd.DataFrame(dtm_bounds_lst, columns=["file", "xmin", "ymin", "xmax", "ymax"])

dtm_df.set_index("file", inplace=True)

In [5]:
dtm_df.head()

                            xmin      ymin      xmax      ymax
file
DHMVIIDTMRAS1m_k01.tif  145000.0  238000.0  162000.0  247000.0
DHMVIIDTMRAS1m_k07.tif  130000.0  218000.0  162000.0  238000.0
DHMVIIDTMRAS1m_k15.tif  130000.0  198000.0  162000.0  218000.0
DHMVIIDTMRAS1m_k31.tif  130000.0  158000.0  162000.0  178000.0
DHMVIIDTMRAS1m_k35.tif  258000.0  158000.0  264000.0  169000.0

In [7]:
dsm_df.head()

                            xmin      ymin      xmax      ymax
file
DHMVIIDSMRAS1m_k01.tif  145000.0  238000.0  162000.0  247000.0
DHMVIIDSMRAS1m_k03.tif  194000.0  238000.0  206000.0  248000.0
DHMVIIDSMRAS1m_k04.tif   53000.0  218000.0   66000.0  225500.0
DHMVIIDSMRAS1m_k05.tif   66000.0  218000.0   98000.0  232000.0
DHMVIIDSMRAS1m_k06.tif   98000.0  218000.0  130000.0  227000.0