In [2]:
import os
import requests

In [5]:
import rasterio as rio
import rioxarray as rxr

In [16]:
import pandas as pd

In [50]:
lst_files=os.listdir('DSM')

In [51]:
len(lst_files)

18

In [52]:
bounds_lst=[]
for lst in lst_files:
    lidar_dmt_xr = rxr.open_rasterio('DSM/'+lst, masked=True).squeeze()
    bounds=lidar_dmt_xr.rio.bounds()
    bounds_lst.append([lst, bounds[0], bounds[1], bounds[2], bounds[3]])
print(bounds_lst)

[['DHMVIIDSMRAS1m_k01.tif', 145000.0, 238000.0, 162000.0, 247000.0], ['DHMVIIDSMRAS1m_k02.tif', 162000.0, 238000.0, 194000.0, 250000.0], ['DHMVIIDSMRAS1m_k03.tif', 194000.0, 238000.0, 206000.0, 248000.0], ['DHMVIIDSMRAS1m_k04.tif', 53000.0, 218000.0, 66000.0, 225500.0], ['DHMVIIDSMRAS1m_k05.tif', 66000.0, 218000.0, 98000.0, 232000.0], ['DHMVIIDSMRAS1m_k06.tif', 98000.0, 218000.0, 130000.0, 227000.0], ['DHMVIIDSMRAS1m_k10.tif', 226000.0, 218000.0, 238000.0, 227000.0], ['DHMVIIDSMRAS1m_k11.tif', 18500.0, 198000.0, 34000.0, 206500.0], ['DHMVIIDSMRAS1m_k14.tif', 98000.0, 198000.0, 130000.0, 218000.0], ['DHMVIIDSMRAS1m_k15.tif', 130000.0, 198000.0, 162000.0, 218000.0], ['DHMVIIDSMRAS1m_k17.tif', 194000.0, 198000.0, 226000.0, 218000.0], ['DHMVIIDSMRAS1m_k18.tif', 226000.0, 198000.0, 258000.0, 218000.0], ['DHMVIIDSMRAS1m_k19.tif', 17000.0, 178000.0, 34000.0, 198000.0], ['DHMVIIDSMRAS1m_k20.tif', 34000.0, 178000.0, 66000.0, 198000.0], ['DHMVIIDSMRAS1m_k21.tif', 66000.0, 178000.0, 98000.0, 198000.0], ['DHMVIIDSMRAS1m_k22.tif', 98000.0, 178000.0, 130000.0, 198000.0], ['DHMVIIDSMRAS1m_k23.tif', 130000.0, 178000.0, 162000.0, 198000.0], ['DHMVIIDSMRAS1m_k35.tif', 258000.0, 158000.0, 264000.0, 169000.0]]

In [63]:
bounds_df=pd.DataFrame(bounds_lst, columns=["file", "xmin", "ymin", "xmax", "ymax"])

In [64]:
bounds_df.set_index('file', inplace=True)

In [65]:
bounds_df

                            xmin      ymin      xmax      ymax
file
DHMVIIDSMRAS1m_k01.tif  145000.0  238000.0  162000.0  247000.0
DHMVIIDSMRAS1m_k02.tif  162000.0  238000.0  194000.0  250000.0
DHMVIIDSMRAS1m_k03.tif  194000.0  238000.0  206000.0  248000.0
DHMVIIDSMRAS1m_k04.tif   53000.0  218000.0   66000.0  225500.0
DHMVIIDSMRAS1m_k05.tif   66000.0  218000.0   98000.0  232000.0
DHMVIIDSMRAS1m_k06.tif   98000.0  218000.0  130000.0  227000.0
DHMVIIDSMRAS1m_k10.tif  226000.0  218000.0  238000.0  227000.0
DHMVIIDSMRAS1m_k11.tif   18500.0  198000.0   34000.0  206500.0
DHMVIIDSMRAS1m_k14.tif   98000.0  198000.0  130000.0  218000.0
DHMVIIDSMRAS1m_k15.tif  130000.0  198000.0  162000.0  218000.0
DHMVIIDSMRAS1m_k17.tif  194000.0  198000.0  226000.0  218000.0
DHMVIIDSMRAS1m_k18.tif  226000.0  198000.0  258000.0  218000.0
DHMVIIDSMRAS1m_k19.tif   17000.0  178000.0   34000.0  198000.0
DHMVIIDSMRAS1m_k20.tif   34000.0  178000.0   66000.0  198000.0
DHMVIIDSMRAS1m_k21.tif   66000.0  178000.0   98000.0  198000.0
DHMVIIDSMRAS1m_k22.tif   98000.0  178000.0  130000.0  198000.0
DHMVIIDSMRAS1m_k23.tif  130000.0  178000.0  162000.0  198000.0
DHMVIIDSMRAS1m_k35.tif  258000.0  158000.0  264000.0  169000.0

In [66]:
x= 262771.7562103644
y= 159236.0080049839

In [83]:
tiff_selected = bounds_df.loc[(x<bounds_df.xmax) & (x > bounds_df.xmin) & (y > bounds_df.ymin) & (y > bounds_df.ymin) ]

In [88]:
file_selected= tiff_selected.index.format()[0]

In [90]:
file_selected

'DHMVIIDSMRAS1m_k35.tif'

In [91]:
#to get the adress
belgium= pd.read_csv('belgium.csv')

In [92]:
belgium.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,4.349066,50.875993,18,Rue Ketels,NaN,Bruxelles,NaN,NaN,1020.0,NaN,907a3f8ce426511a
1,4.349304,50.875669,2,Rue Ketels,NaN,Bruxelles,NaN,NaN,1020.0,NaN,c344bf265f143269
2,4.348664,50.876226,207,Boulevard Emile Bockstael,NaN,Bruxelles,NaN,NaN,1020.0,NaN,beaf5e1885a7adde
3,4.327375,50.852499,21,Rue Henri De Saegher,NaN,Molenbeek-Saint-Jean,NaN,NaN,1080.0,NaN,dac65b997dd700eb
4,4.340312,50.827043,44,Rue de la Perche,NaN,Saint-Gilles,NaN,NaN,1060.0,NaN,b5533ebd16bd4ea7

In [116]:
NUMBER='21'
STREET='Rue Henri De Saegher'
CITY='Molenbeek-Saint-Jean'
POSTCODE=1080

In [122]:
address_selected = belgium.loc[(belgium.NUMBER == NUMBER)&(belgium.STREET == STREET)&(belgium.CITY == CITY)&(belgium.POSTCODE == POSTCODE)]

In [123]:
address_selected

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
3,4.327375,50.852499,21,Rue Henri De Saegher,NaN,Molenbeek-Saint-Jean,NaN,NaN,1080.0,NaN,dac65b997dd700eb

In [144]:
new_y=address_selected['LON'].values[0]
new_x=address_selected['LAT'].values[0]

In [146]:
new_x, new_y

(50.8524989, 4.3273749)